.error {
  &-wrapper {
    width: 100%;
    margin-top: 7.1429rem;
    display: flex;
    justify-content: center;
  }
  &-content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 35.7143rem;
    height: 21.4286rem;
    display: flex;
    font-size: 1.1429rem;
    color: var(--text-color);
    font-weight: bold;
    gap: 1.4286rem;

    img {
      width: 100%;
      height: 100%;
    }
  }
}
