.loading {
  display: flex;
  justify-content: space-between;
  width: 60px;
  height: 40px;
  margin: 50px auto;

  span {
    width: 10px;
    border-radius: 10px;
    background-color: var(--primary-color);
    animation: bounce 1.2s infinite ease-in-out;
  }
}

.bouncing-bars span:nth-child(1) {
  animation-delay: -0.24s;
}
.bouncing-bars span:nth-child(2) {
  animation-delay: -0.12s;
}
.bouncing-bars span:nth-child(3) {
  animation-delay: 0;
}

@keyframes bounce {
  0%,
  80%,
  100% {
    transform: scaleY(0);
  }
  40% {
    transform: scaleY(1);
  }
}
