.search {
  margin-right: 2rem;
  width: 100%;
  max-width: 400px;
  display: flex;
  align-items: center;
  &-input {
    padding: 0.4286rem;
    height: 30px;
    width: 70%;
    border: none;
    outline: none;
    font-size: 14px;
    color: #000000;
  }
  &-button {
    flex-shrink: 1;
    height: 30px;
    border: none;
    outline: none;
    background-color: var(--primary-color);
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
  }
}
