@use "../mixins" as *;

.tabs {
  display: flex;
  align-items: center;
  width: 100%;
  .tab-item {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 120px;
    width: 100%;
    padding: 8px;
    height: 42px;
    font-size: 14px;
    font-weight: 500;
    line-height: 0;
    position: relative;
    transition: all ease-in-out 0.3s;
    border-bottom: 1px solid gray;
    cursor: pointer;

    &:hover {
      color: var(--primary-color);
    }

    &.active {
      color: var(--primary-color);
      background-color: #112240;
      &::after {
        width: 100%;
      }
    }

    &::after {
      content: "";
      width: 0;
      height: 1.5px;
      position: absolute;
      bottom: -1px;
      left: 0;
      background: var(--primary-color);
      transition: all ease-in-out 0.3s;
    }
  }
  @include tablet {
    width: auto;
  }
}
