@use "../mixins" as *;

.home {
  padding-top: 3.4286rem;
  .heading {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    &-title {
      margin-bottom: 1.7143rem;
      font-size: 1.7143rem;
      font-weight: 500;
      color: var(--primary-color);

      @include tablet {
        margin-bottom: 0;
        margin-right: 48px;
      }
    }

    &-control {
      margin-top: 1.7143rem;
      display: flex;
      align-items: center;
    }

    @include tablet {
      padding-bottom: 0;
      flex-direction: row;
      align-items: center;
    }
  }

  .control {
    margin-top: 2.2857rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    @include desktop {
      margin-top: 2rem;
    }
  }
}
