@use "../mixins" as *;

.movie-detail {
  margin-top: 3.4286rem;
  .movie-backdrop {
    position: relative;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    z-index: 1000;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .movie-poster {
    max-width: 230px;
    width: 100%;
    height: 240px;
    display: none;

    @include tablet {
      display: block;
    }
  }
  .movie-intro {
    position: absolute;
    left: 20px;
    bottom: 20px;
    display: flex;
    align-items: flex-end;
  }
  .content {
    margin-left: 1.4286rem;
    margin-bottom: 1.7143rem;
  }
  .movie-title {
    margin-bottom: 0.5714rem;
    font-size: 1.7143rem;
    color: #ffffff;
  }
  .watch-button {
    max-width: 280px;
    width: 100%;
    height: 40px;
    font-size: 1rem;
    color: #ffffff;
    font-weight: 600;
    background: var(--primary-color);
    border: none;
    outline: none;
    border-radius: 4px;
    cursor: not-allowed;
  }

  .movie-desc {
    padding: 1.1429rem 0;
    margin-top: 1.7143rem;
    border-bottom: 1px solid var(--primary-color);

    p {
      margin-bottom: 1rem;
      font-size: 1rem;
      color: var(--text-color);
    }

    b {
      margin-right: 0.7143rem;
    }
  }
  .movie-overview {
    padding: 1.1429rem 0;
    font-size: 1.1429rem;
    border-bottom: 1px solid var(--primary-color);
    h3 {
      margin-bottom: 0.5714rem;
      color: var(--primary-color);
      font-weight: bold;
    }
  }
  .movie-tags {
    padding: 1.1429rem 0;
    font-size: 1.1429rem;
  }
}
