@use "./mixins" as *;
@use "./variables" as *;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #0a192fd9;
  --nav-height: #{$nav-height};
  --nav-height-scroll: #{$nav-height-scroll};

  --breakpoint-mobile: #{$breakpoint-mobile};
  --breakpoint-tablet: #{$breakpoint-tablet};
  --breakpoint-desktop: #{$breakpoint-desktop};

  --toggle-width: #{$toggle-width};
  --toggle-height: #{$toggle-height};
  --toggle-circle-width: #{$toggle-circle-width};
  --toggle-circle-height: #{$toggle-circle-height};
  --toggle-padding: #{$toggle-padding};

  --font-body: "Montserrat", sans-serif;
}

html {
  font-size: 14px;
  scroll-behavior: smooth;
  scrollbar-width: thin;
  box-sizing: border-box;
  @include desktop {
    font-size: 16px;
  }
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: var(--font-body);
  background-color: var(--bg-color);
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
.movies-app {
  min-height: 100vh;
  padding-top: var(--nav-height);
  background: var(--bg-color);
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1.1429rem;

  @include desktop {
    padding: 0 6.25rem;
  }
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Scrollbar Styles */

::-webkit-scrollbar {
  display: none;
  width: 0;
}
