@use "./variables" as *;

// Tablet: 641px → 1023px
@mixin tablet {
  @media (min-width: $breakpoint-mobile) {
    @content;
  }
}

// Desktop: ≥1024px
@mixin desktop {
  @media (min-width: $breakpoint-desktop) {
    @content;
  }
}
